.row
  .text-center  
    %h3 09 Beta Registrations
  .small-4.columns
    .text-center
      %h3 03 Buyers
  .small-4.columns
    .text-center
      %h3 03 Sellers
  .small-4.columns
    .text-center
      %h3 03 Both

  %table.small-12.columns
    %tr
      %th Email
      %th Role
    %tr
      %td contact@joshfabian.com
      %td Buyer
    %tr
      %td therealsanjaykapoor@gmail.com
      %td Sell
