%ul
  %li{class: label.match(/inbox/i) ? 'active' : nil}
    = link_to user_messages_path(@user, 'inbox') do
      %span.help-icon.inbox
        %i.icon.ion-android-inbox
      Inbox
  -# %li{class: label.downcase.match(/starred/) ? 'active' : nil}
  -#   = link_to user_messages_path(@user, 'starred') do
  -#     %span.help-icon.star
  -#       %i.icon.ion-star
  -#     Starred
  %li{class: label.match(/sent/i) ? 'active' : nil}
    = link_to user_messages_path(@user, 'sent') do
      %span.help-icon.email
        %i.icon.ion-email
      Sent

  %li{class: label.match(/trash/i) ? 'active' : nil}
    = link_to user_messages_path(@user, 'trash') do
      %span.help-icon.trash
        %i.icon.ion-ios7-trash
      Trash