.category-header.small-12.columns{:style => "background-image: url('#{category_cover_image(@category)}')"}
  .overlay
  .category-nav{:'data-category-id' => @category.try(:id).to_i}
    .row
      %h1= @category.name
      - if @subcategories.present?
        %hr
        %ul.centered-inline-list
          - @subcategories.each do |child|
            %li= link_to child.name, listing_category_path(@category.name.parameterize, child.name.parameterize)