.category-empty.text-center
  %h3
    - if @empty_text.present?
      = @empty_text
    - else
      Nobody is selling #{@category.try(:name)} here yet!

  %p
    - if @category.present?
      Be the first to sell them on Fauna.
    = link_to "Create a Listing", new_listing_path