.listing-field
  %label Direct URL to buy this listing:
  .small-8.columns{:style => "padding: 0;"}
    %input{"data-number" => "0", :name => "listing[price]", :placeholder => "Enter page address related to this listing on your website", :required => "required", :title => "Website url is required", :type => "text"}