%li
  .image-box.add
    %div
      = cl_image_upload_tag(:image, html: {class: 'optional hide'})
      .progress.round.center.hide{style: 'padding: 0px; width: 10%;'}
        %span.meter
      .add-images-button{class: [@listing.try(:editable?) ? 'editable' : nil]}
        .button-add
        %span Add Photo
      %a.remove{href: "#"}
  .image-dimensions.margin-top
    600x400
  .image-crop{:'data-image-id' => 0}
    = link_to 'crop', '#', style: 'display: none;'
