.row
  .rounded-panel
    .banner-image
      .banner-cta.small-6.small-push-6.columns
        %h2 Reptiles, without the risk.
        %p Fauna makes buying and selling reptiles online fast, simple and safe.
        %a.button.btn-outline{:href => "#"} Browse Listings
        %a.button.btn-white{:href => "#"} Create an Account