%hr
%h5.highlight Select a shipping option:

.small-12.columns
  %input#pokemonRed{:name => "pokemon", :type => "radio", :value => "Red"}
    %select.shipping-selector
      %option{:value => "united-states"} United States $30.00
      %option{:value => "international"} International $70.00
.small-12.columns
  %input#pokemonBlue{:name => "pokemon", :type => "radio", :value => "Blue"}
    %label{:for => "pokemonBlue"} Local Pickup in Chicago, IL
%hr
.small-12.columns.no-padding
  %ul
    %li
      .small-9.columns.text-right
        subtotal: 
      .small-3.columns.text-left
        $5,000.00
    %li
      .small-9.columns.text-right
        shipping: 
      .small-3.columns.text-left
        $30.00 
    %li
      .small-9.columns.text-right
        %strong Total: 
      .small-3.columns.text-left
        %strong $5,030.00

= link_to 'Checkout with Paypal', paypal_start_path(listing_id: @listing.id), class: 'button buy-button checkout'
