.modal-header
  %h3 Adjust Image Size
  = link_to 'Crop Image', '#', class: 'image-crop-save button orange-button', :'data-image-id' => @image_id

- begin
  = image_tag cloudinary_url(@image.full_public_id)
- rescue Exception => e
  = image_tag @image_url