= link_to 'Edit Listing', user_edit_listing_path(@user, @listing.id), class: ['button', 'edit-listing']
= link_to 'Mark as Sold', user_edit_listing_path(@user, @listing.id), class: 'button edit-listing remove-button', :'data-listing-id' => @listing.id