%table.shipping-table
  - if @countries.present?
    %thead
      %tr
        %th.ship-to Ships to
        %th Shipping Cost

    %tbody
      - @countries.each do |country|
        %tr
          %td.country
            .input-group-location
              %input#checkbox1{:type => "checkbox"}
                %label{:for => "checkbox1"}
                  = country.try(:name)
          %td
            .input-group.price-input
              %label $
              %input.money.text.text-small{type: "text", placeholder: "0.00", name: "listing[shipping_prices][#{country.try(:code)}]", value: @shipping_prices[country.try(:code)]}

      -# special everywhere else
      %tr
        %td.country
          .input-group-location
            %input#checkbox2{:type => "checkbox"}
              %label{:for => "checkbox2"}
                International
            %span.has-tip.tip-top{"data-tooltip" => "", title: "Sets the shipping costs for EVERY country not covered by country specific shipping costs. <br>This is optional."} 
              %i.icon.ion-help-circled

        %td
          .input-group.price-input
            %label $
            %input.money.text.text-small{type: "text", placeholder: "0.00", name: "listing[shipping_prices][everywhere]", value: @shipping_prices['everywhere']}


      %tr
        %td.country
          .input-group-location
            %input#checkbox2{:type => "checkbox"}
              %label{:for => "checkbox2"}
                Local Pickup
            %span.has-tip.tip-top{"data-tooltip" => "", title: "Allows buyers to come to you and pick up the animal in person."} 
              %i.icon.ion-help-circled

        %td
          .input-group.price-input
            %label $
            %input.money.text.text-small{type: "text", placeholder: "0.00", name: "listing[shipping_prices][everywhere]", value: @shipping_prices['everywhere']}
