#listing-message-modal.reveal-modal.small{"data-reveal" => "", :'data-listing-id' => @listing.id}
  %h5 
    Ask a question about 
    %span.highlight listing name
  %input.rounded-input{:placeholder => "Message Subject"}
  %textarea{:placeholder => "Message Body"}
  = link_to 'Send Message', '#', class: 'button orange-button right'
  %a.close-reveal-modal ×