%h5
  Ships from
  %span.highlight= @owner.city_state
%p Ready to Ship in #{@listing.shipping_time}
%table.shipping-table
  %thead.tabbed
    %tr.column-headers
      %th.shipping-destination Ship To
      %th.shipping-primary-price Cost
  %tbody
    - @listing.shipping_prices.each do |hash|
      - location = hash[0]
      - price = hash[1].to_f
      %tr
        %td.shipping-destination= string_titleize(hash[0])
        %td.shipping-primary-price
          - if price > 0
            %span.currency-value= number_to_currency(hash[1].to_f)
            %span.currency-code USD
          - else
            %span Not available
