%h5
  Ships from 
  %span.highlight Chicago, IL
%p Ready to Ship in 1-2 Weeks
%table.shipping-table
  %thead.tabbed
    %tr.column-headers
      %th.shipping-destination Ship To
      %th.shipping-primary-price Cost
  %tbody
    %tr
      %td.shipping-destination Australia
      %td.shipping-primary-price
        %span.currency-symbol $
        %span.currency-value 0.00
        %span.currency-code USD