- content_for :title do
  = @title

:css
  .global-subhead {
    border-bottom: none;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

- if @category.present?
  = render partial: "listings/category_header"

= render(partial: "listings/listing_tiles")

