.row
  .page-title
    %h3 Manage Listings
  .small-12.columns.no-padding
    .rounded-panel
      %table.floating-table.small-12.columns
        %tbody
          %tr
            %th
            %th Name
            %th Price
            %th List Start
            %th List End
            %th Status
          %tr
            %td.thumb-cell
              = image_tag "http://www.placehold.it/40/40"
            %td
              %a{:href => "/plans/6"} Bearded Dragon
            %td $300.00
            %td Active
            %td
            %td