%h5 One last question! Will you be buying or selling on Fauna?
%input#buying{:name => "user-type", :type => "radio", :value => "Buying"}
  %label{:for => "buying"} Buying
%input#selling{:name => "user-type", :type => "radio", :value => "Selling"}
  %label{:for => "selling"} Selling
%input#both{:name => "user-type", :type => "radio", :value => "Selling"}
  %label{:for => "both"} Both!
.large-12.columns
  <a href="#" class="button radio-submit">Continue</a>