= form_for Waitlist.new, url: '#', html: {class: 'form-validation user-email-form'} do |f|
  .small-9.columns
    %input.required.email{placeholder: "Enter your email...", type: "text", name: "waitlist[email]"}
  .small-3.columns
    %a.button.email-form-button.postfix{href: "#"} Request Invite