.invite-friends.small-12.columns
  %hr
  %h3
    Invite your friends.
    %span.highlight Get earlier access.
  %h4
    %span.highlight.signup-count 3
    friends have joined Fauna.
.invite-code
  %h4 Your special invite link:
  %p Copy paste the URL below into <strong>Twitter</strong>, <strong>Facebook</strong> or in an <strong>Email</strong>
  %input{readonly: '', type: "text", value: @waitlist.try(:share_url)}