.landing-page
  .scrolling-background-container
    .scrolling-bg.animate-background
  .row
    .email-block.small-8.small-centered.columns
      = image_tag "landing-logo.jpg", :class => "landing-logo"
      %h3 The easiest way to buy and sell reptiles online.
      .landing-form.small-11.columns.small-centered
        .row.collapse
          .small-9.columns
            %input{:placeholder => "Enter your email...", :type => "text"}
          .small-3.columns
            %a.button.postfix{:href => "#"} Request Invite
