.landing-page
  .scrolling-background-container
    .scrolling-bg.animate-background
  .row
    .email-block.small-8.small-centered.columns
      = image_tag "landing-logo.jpg", :class => "landing-logo"
      %h3 The easiest way to buy and sell reptiles online.
      .landing-form.small-11.columns.small-centered
        .row.collapse
          .small-9.columns
            %input{:placeholder => "Enter your email...", :type => "text"}
          .small-3.columns
            %a.button.postfix{:href => "#"} Request Invite
          // After submitting email
          .small-12.columns
            %hr
            %h3 Invite your friends. <span class="highlight">Earn Fauna Credits.</span>
            %h4.secondary You've invited <span class="highlight">12</span> people to Fauna. 
      .invite-code
        %h4 Your special invite link:
        %p Copy paste the URL below into <strong>Twitter</strong>, <strong>Facebook</strong> or in an <strong>Email</strong>
        %input{:readonly => "", :type => "text", :value => "http://www.fauna.net/Uaht93"}
