= content_for :tracking do
  :javascript
    (function() {
      var _fbq = window._fbq || (window._fbq = []);
      if (!_fbq.loaded) {
        var fbds = document.createElement('script');
        fbds.async = true;
        fbds.src = '//connect.facebook.net/en_US/fbds.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(fbds, s);
        _fbq.loaded = true;
      }
    })();
    window._fbq = window._fbq || [];
    window._fbq.push(['track', '6018593682055', {'value':'0.00','currency':'USD'}]);
  %noscript
    <img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6018593682055&amp;cd[value]=0&amp;cd[currency]=USD&amp;noscript=1" />

.landing-page
  .scrolling-background-container
    .scrolling-bg.animate-background
  .row
    .email-block.medium-8.medium-centered.columns.no-padding-left.no-padding-right
      = image_tag "landing-logo.jpg", :class => "landing-logo"
      %h5 We're changing the way you buy and sell reptiles online.
      .user-invite-friends-form-wrapper
        = render partial: "user_invite_friends"
    = render partial: "social_buttons"

    