@import "globals/all";
@import "foundation/components/grid";
.landing-page {
  .scrolling-background-container {
    overflow: hidden;
    height: 300px;
    position: relative;
  }
  .scrolling-bg {
    background: black;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 650px;
    background-image: image-url("scroll-bg.jpg");
    background-repeat:repeat-y;
    background-size: cover;
    background-position: top right;
    -webkit-animation: scrollBgGridLinks 35s linear;
    animation: scrollBgGridLinks 35s linear;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  .email-block {
    @extend .clearfix;
    @extend %shadow;
    background: #fff;
    border-radius: 3px;
    position: relative;
    top: -110px;
    text-align: center;
    padding: 0;
    padding-top: 20px;
  }
  .landing-logo {
    width: 160px;
    height: auto;
    margin: 15px 0 15px 0;
  }

  .landing-form {
    margin-top: 10px;
    padding-bottom: 20px;
    input {
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
      border-right: none;
      &:focus {
        box-shadow: none;
        border: 1px solid #cccccc;
        border-right: none;
      }
    }
    .email-form-button {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
      background: $orange;
      padding-top: 1px;
      &:hover {
        background: darken($orange, 5);
      }
    }
    .radio-submit {
      background: $orange;
      border-radius: 3px;
      padding: 10px 60px;
      margin-top: 10px;
      &:hover {
        background: darken($orange, 5);
      }
    }
  }
}

.invite-friends {
  background: #fff;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.invite-code {
  background: lighten(#eee,3);
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  text-align: left;
  padding: 15px;
  margin-top: 15px;
  input {
    border-radius: 3px;
  }
}