@import "globals/all";
@import "foundation/components/grid";

.global-head {
  @include grid-column(12);
  background: #fff;
  padding-top: 15px;
  padding-bottom: 15px;
  position: fixed;
  top: 0;
  z-index: 9999;
  .header-logo {
    width: 105px;
  }
  .right-nav, .left-nav {
    @include grid-column(6);
    padding: 0;
  }
  .left-nav {
    @media (max-width: 450px) {
      width: 40%;
    }
  }
  .right-nav {
    text-align: right;
    position: relative;
    top: 1px;
    @media (max-width: 450px) {
      width: 60%;
    }
    a {
      color: $orange;
      font-size: 14px;
      &:hover {
        color: darken($orange, 10);
      }
    }
    .button {
      background: $orange;
      color: #fff !important;
      padding: 5px 30px;
      font-size: 14px;
      margin-bottom: 0;
      &:hover {
        color: #fff;
        background: darken($orange, 15);
      }
    }
    .header-cta .button {
      background: #1abc9c;
      padding: 0;
      .credit-count {
        display: inline-block;
        background: darken(#1abc9c, 5);
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        padding: 5px 8px;
        border-right: 1px solid darken(#1abc9c, 5);
        position: relative;
        .icon {
          font-size: 17px;
          position: relative;
          top: 1px;
        }
        &:after {
          left: 100%;
          top: 50%;
          border: solid transparent;
          content: " ";
          height: 0;
          width: 0;
          position: absolute;
          pointer-events: none;
          border-color: rgba(23, 166, 137, 0);
          border-left-color: #17a689;
          border-width: 7px;
          margin-top: -7px;
        }
      }
      .button-copy {
        padding: 5px 13px 5px 10px;
        display: inline-block;
      }
      &:hover {
        background: darken(#1abc9c, 5);
        .credit-count {
          border-right: 1px solid #1abc9c;
          &:after {
            border-width: 0;
          }
        }
      }
    }
    .header-username, .header-inbox, .header-cta {
      display: inline-block;
      a {
        color: #969ba1;
        &:hover {
          color: $orange;
        }
      }
    }
    .header-inbox {
      margin: 0 15px;
      .counter {
        display: none;
      }
      &.active {
        a {
          color: $orange;
          .counter {
            display: inline-block;
          }
        }
      }
    }
    .header-cta {
      @media (max-width: 773px) {
        display: block;
        margin-top: 25px;
      }
    }
    .guest-links {
      @include grid-column(4);
      padding: 0;
      line-height: 35px;
      float: right;
    }
  }
}

.global-subhead {
  @include grid-column(12);
  padding: 10px;
  background: #f9f9f9;
  border-bottom: 1px solid #d6d6d6;
  border-top: 1px solid #d6d6d6;
  position: relative;
  margin-bottom: 30px;
  position: fixed;
  top: 61px;
  z-index: 2;
  @media (max-width: 773px) {
    top: 100px;
    overflow: scroll;
    .inline-list {
      width: 750px;
    }
  }
  .inline-list {
    margin-bottom: 0;
    position: relative;
    overflow: visible;
    li {
      a {
        color: #848484;
        font-size: 14px;
        &:hover {
          color: $orange;
        }
        &.active {
          color: $orange;
        }
      }
    }
  }
}

.f-dropdown li a.admin {
  opacity: 0.9;
  background-color: #efefef;
}

.review-alert {
  @include grid-column(12);
  margin-top: -31px;
  margin-bottom: 30px;
  text-align: center;
  padding: 0;
  position: relative;
  z-index: 1;
  a {
    background: #1abc9c;
    display: block;
    color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.search {
  @include grid-column(8);
  padding: 0;
  display: inline-block;
  float: none;
  margin-left: 15px;
  position: relative;
  .icon {
    position: absolute;
    z-index: 999;
    top: 8px;
    font-size: 17px;
    left: 9px;
    color: #969ba1;
  }
  input {
    width: 250px;
    border-radius: 3px;
    box-shadow: none;
    background: #f7f7f7;
    margin-bottom: 0;
    height: 30px;
    position: relative;
    top: 2px;
    background: #fff;
    transition: .2s ease-in;
    text-indent: 20px;
    &:focus {
      background: $orange;
      border: $orange;
      color: #fff;
      box-shadow: none;
      &+.icon {
        color: #fff;
      }
    }
  }
  @media (max-width: 773px) {
    margin-left: 0px !important;
    margin-top: 10px !important;
    display: block;
    width: 100%;
    input {
      width: 180px;
    }
  }
  input:focus::-webkit-input-placeholder {
    color: #fff;
    opacity: 1;
    box-shadow: none;
  }
  input:focus::-moz-placeholder {
    color: #fff;
    opacity: 1;
    box-shadow: none;
  }
  input:focus::-ms-input-placeholder {
    color: #fff;
    opacity: 1;
    box-shadow: none;
  }
}

.listing-subhead {
  .global-subhead {
    border: none;
    border-top: 1px solid #d6d6d6;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    margin-bottom: 15px;
    @extend %shadow;
    position: relative;
    top: 0;
    ul {
      margin-left: 0;
      &::before, &::after {
        display: none;
      }
    }
  }
}