.padding-wrapper
  %h5 User Trust
%hr
.padding-wrapper
  %h6 Identity Verification
  %ul 
    %li
      %i.icon{class: @user.phone_verified? ? 'ion-android-checkmark' : 'ion-android-close'}
      Phone Number
      - if !@user.phone_verified?
        %span.right= link_to 'verify', user_verify_path, class: 'edit owner hide', :'data-user-id' => @user.id
    %li
      %i.icon{class: @user.facebook_verified? ? 'ion-android-checkmark' : 'ion-android-close'}
      Facebook
      - if !@user.facebook_verified?
        %span.right= link_to 'verify', user_verify_path, class: 'edit owner hide', :'data-user-id' => @user.id
    %li 
      %i.icon{class: @user.paypal_verified? ? 'ion-android-checkmark' : 'ion-android-close'}
      Paypal Verified
      - if !@user.paypal_verified?
        %span.right= link_to 'verify', user_verify_path, class: 'edit owner hide', :'data-user-id' => @user.id

  %hr
  %h6 Market Feedback
  %ul
    %li
      %i.icon.ion-android-star.active
      %i.icon.ion-android-star.active
      %i.icon.ion-android-star.active
      %i.icon.ion-android-star.active
      %i.icon.ion-android-star 
      Matched Description
    %li
      %i.icon.ion-android-star.active
      %i.icon.ion-android-star.active
      %i.icon.ion-android-star.active
      %i.icon.ion-android-star.active
      %i.icon.ion-android-star 
      Communication
    %li
      %i.icon.ion-android-star.active
      %i.icon.ion-android-star.active
      %i.icon.ion-android-star.active
      %i.icon.ion-android-star
      %i.icon.ion-android-star 
      Shipping Time