%h5 Recent Listings (#{link_to @total_listings, user_listings_path(@user)})
%ul.small-block-grid-3
  - @recent_listings.each do |listing|
    - user = listing.user
    - image = listing.primary_image
    %li
      = link_to user_listing_path(user, listing.id) do
        .listing-panel
          = image_tag listing_image_tile(image)
          .listing-info
            .title= listing.title
