.padding-wrapper
  %h5 User Trust
%hr
.padding-wrapper
  %h6 Identity Verification
  %ul 
    %li 
      %i.icon{class: @user.email_verified? ? 'ion-android-checkmark' : 'ion-android-close'}
      Email Address
    %li
      %i.icon{class: @user.phone_verified? ? 'ion-android-checkmark' : 'ion-android-close'}
      Phone Number
    %li
      %i.icon{class: @user.facebook_verified? ? 'ion-android-checkmark' : 'ion-android-close'}
      Facebook
  %hr
  %h6 Market Feedback
  %ul
    %li
      %i.icon.ion-android-star.active
      %i.icon.ion-android-star.active
      %i.icon.ion-android-star.active
      %i.icon.ion-android-star.active
      %i.icon.ion-android-star 
      Matched Description
    %li
      %i.icon.ion-android-star.active
      %i.icon.ion-android-star.active
      %i.icon.ion-android-star.active
      %i.icon.ion-android-star.active
      %i.icon.ion-android-star 
      Communication
    %li
      %i.icon.ion-android-star.active
      %i.icon.ion-android-star.active
      %i.icon.ion-android-star.active
      %i.icon.ion-android-star
      %i.icon.ion-android-star 
      Shipping Time