// User Comment
.update-panel.rounded-panel
  .small-12.columns
    .user-image
      %a{:href => "/joshfabian"}
        %img{:alt => "Erwgafk32jurq5wvgmiz", :src => "https://res.cloudinary.com/tegu/image/upload/c_fill,h_200,w_200/v1406127507/erwgafk32jurq5wvgmiz.jpg"}
    .user-info
      %h4.story-title
        %a{:href => "/joshfabian"} JoshFabian
        %span 
          Followed 2 new users
      %p.secondary
        %span#ember928.ember-view 1 day ago
  .comment-content.small-12.columns.clearfix
    .listing-embed
      %ul.small-block-grid-2
        - 2.times do
          %li
            %a{:href=>"#"}
              .follow-panel
                .listing-aside.small-12.columns
                  %img{:alt => "Erwgafk32jurq5wvgmiz", :src => "https://res.cloudinary.com/tegu/image/upload/c_fill,h_200,w_200/v1406127507/erwgafk32jurq5wvgmiz.jpg"}
                  %h5{:itemprop => "alternateName"} Test

  .panel-footer.small-12.columns
    .footer-button
      %a{:href => "#"}
        %i.icon.ion-heart
        0
    .footer-button
      %a{:href => "#"}
        %i.icon.ion-reply
        reply