- @stories.each do |story|
  - begin
    - if story.type == 'listing'
      - listing = Listing.find(story.id)
      = render(partial: "users/user_story_listing", locals: {story: story, listing: listing})
    - elsif story.type == 'post'
      - post = Post.find(story.id)
      = render(partial: "users/user_story_post", locals: {story: story, post: post})
  - rescue Exception => e
