.rounded-panel
  .padding-wrapper
    %h5 Listings
    %hr
    .padding-wrapper
      .review
        %h3.text-center No Listings Yet!
        %p.text-center This page will be updated when a new listing is placed for sale.