.padding-wrapper
  %h5 User Trust
%hr
.padding-wrapper
  %h6 Identity Verification
  %ul 
    %li 
      %i.icon.ion-android-checkmark
      Email Address
    %li
      %i.icon.ion-android-checkmark 
      Phone Number
    %li
      %i.icon.ion-android-close
      Facebook
  %hr
  %h6 Market Feedback
  %ul
    %li
      %i.icon.ion-android-star.active
      %i.icon.ion-android-star.active
      %i.icon.ion-android-star.active
      %i.icon.ion-android-star.active
      %i.icon.ion-android-star 
      Matched Description
    %li
      %i.icon.ion-android-star.active
      %i.icon.ion-android-star.active
      %i.icon.ion-android-star.active
      %i.icon.ion-android-star.active
      %i.icon.ion-android-star 
      Communication
    %li
      %i.icon.ion-android-star.active
      %i.icon.ion-android-star.active
      %i.icon.ion-android-star.active
      %i.icon.ion-android-star
      %i.icon.ion-android-star 
      Shipping Time