- if @me
  -# post something
  .panel-body.status-panel.rounded-panel{:'data-user-id' => @user.id}
    %textarea.status-form{placeholder: "Write something...", rows: "1"}
    .panel-footer.clearfix
      %button.btn.status-button Post
- else
  -# empty status panel
  .panel-body.status-panel.rounded-panel{:'data-user-id' => @user.id, style: 'display:none;'}
  