- content_for :title, @title

.row
  %h5 My Purchases
  %ul.small-block-grid-4
    - @user_purchases.each do |purchase|
      - listing = purchase.listing
      - review = @user_reviews.select{ |o| o.listing_id == listing.id }.first
      = render(partial: "listings/listing_tile", locals: {listing: listing, user: listing.user, review: review.present? ? :completed : :pending})
