.row
  .account-page.small-8.small-centered.columns
    .rounded-panel
      .account-avatar
        = image_tag "http://www.placehold.it/60/60"
      .account-header
        %h3 Account Verification
        %p All sellers must verify their accounts before listing on Fauna.

      .account-tagline
        %h5 Telephone Verification (required)
        %p Phone number verification is mandatory to sell and helps to instill confidence in other Fauna users by linking your user account to a working phone number. Only one user account can be linked to any one phone number.
        .small-12.columns.no-padding
          - if current_user.phone_verified?
            %a.button.green-button.secondary.disabled{href: "#"} Phone Verified
          - else
            %a.button.green-button{:href => sms_path} Verify Phone Number
      %hr
      .account-tagline
        %h5 Paypal Verification (required)
        %p Paypal verification is mandatory to sell and helps to instill confidence in other Fauna users by linking your user account to a verified paypal account. Only one user account can be linked to any one paypal.
        .small-12.columns.no-padding
          - if current_user.paypal_verified?
            %a.button.green-button.secondary.disabled{href: "#"} Paypal Verified
          - else
            %a.button.green-button{href: paypal_verify_email_path} Verify Paypal
      %hr
      %h5 Connect to Facebook (optional)
      %p Connect your account to Facebook. This helps as it helps build confidence in users that your identity is known.
      %p We recommend that you also allow us to display a link on your user profile. This allows other users to see that you have nothing to hide.
      .small-12.columns.no-padding
        - if current_user.facebook_verified?
          %a.button.orange-button.secondary.disabled{href: "#"} Facebook Connected
        - else
          %a.button.orange-button{href: user_omniauth_authorize_path(:facebook)} Connect to Facebook
      %hr
      %a.button.green-button.right.user-verify-continue{href: new_listing_path} Continue


