.row
  .account-page.small-8.small-centered.columns
    .rounded-panel
      .account-avatar
        = image_tag "http://www.placehold.it/60/60"
      .account-header
        %h3 Account Verification
        %p All sellers must verify their accounts before listing on Fauna.

      .account-tagline
        %h5 Telephone Verification
        %p Phone number verification is mandatory and helps to instill confidence in other Fauna users by linking your user account to a working phone number. Only one user account can be linked to any one phone number.
        %input#checkbox1{:type => "checkbox"}
          %label{:for => "checkbox1"} Show phone number on profile
        .small-12.columns.no-padding
          %a.button.orange-button{:href => "#"} Verify Phone Number
          -# %a.button.orange-button.secondary{:href => "#"} Phone Verified
      %hr
      %h5 Connect to Facebook (optional)
      %p Connect your account to Facebook. This helps as it helps build confidence in users that your identity is known.
      %p We recommend that you also allow us to display a link on your user profile. This allows other users to see that you have nothing to hide.
      %input#checkbox1{:type => "checkbox"}
        %label{:for => "checkbox1"} Show link on profile
      .small-12.columns.no-padding
        -# %a.button.orange-button{:href => "#"} Connect to Facebook
        %a.button.orange-button.secondary{:href => "#"} Facebook Connected
      %hr
      %a.button.green-button.right{:href => "#"} Continue


