:css
  .global-head {
    display: none;
  }
  .global-subhead {
    display: none;
  }
.landing-page
  .scrolling-background-container
    .scrolling-bg.animate-background
  .row
    = form_for(@user, as: :user, url: @url, html: {class: "form-validation user-send-reset-password", :'data-user-id' => @user.id.to_i}) do |f|
      .email-block.small-6.small-centered.columns
        = image_tag "landing-logo.jpg", :class => "landing-logo"
        %h3 Forgot Password?
        .register-form.small-8.columns.small-centered
          = f.email_field :email, autofocus: false, required: true, class: "", placeholder: 'email'
        = f.submit 'Continue', class: 'button'
        .small-10.columns.small-centered{style: 'padding-bottom: 20px;'}
          %div.alert-box.hide{:'data-alert' => '', style: 'line-height: 1.5em;'}

