Hey #{@owner.handle},
%br
%br
Just wanted to let you know that #{@commenter.handle} left a comment on your listing:
%br
%br
#{@comment.body}
%br
%br
You can see it here: #{link_to user_url(@owner), user_url(@owner)}
%br
%br
The Fauna Team