:css
  .listing-image-slider {
    width: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;  
    user-select: none;
  }
  .royalSlider img {
    width: 100%;
    height: auto;
  }

#contentSlider.content-slider{:style=>"overflow:auto;"}
  .slider-wrapper
    #closeButton.close-button
      %a
        %i.icon.ion-close
