.row
  .text-center
    %h5 Charts
    
  .small-12.columns.no-padding
    %ul{style: 'font-size: 0.85em;'}
      %li= link_to 'Listing Categories', '/charts/listings/categories'
      %li= link_to 'Listing Created', '/charts/listings/created'
      %li= link_to 'User Signups', '/charts/users/signups'