- content_for :javascript_pre do
  = javascript_include_tag "//www.google.com/jsapi"

.row
  .text-center
    %h5 User Signups

  #users-signups{style: "height: 300px;"}

:javascript
  new Chartkick.ColumnChart("users-signups", "/api/v1/charts/users/signups")