Hey,
%br
I have great news, Fauna is ready and I'd love to personally invite you to get started as one of our early signups.  As a thank you, we're also going to make it totally free for you to list as much as you like over the next couple days!
%br
List what you can now, because in a few days we're planning to open up the floodgates to the thousands of buyers that have already signed up. We're on track to really improve the experience of safely buying and selling reptiles online. I'd be lying if I said I wasn't excited!
%br
I'd love to hear your thoughts on things so far and if we can do anything to make the platform better! Enjoy the free listings! :)
%br
http://www.fauna.net/login
%br
Josh