Hey,
%br
%br
As one of our early signups, you now have special access to Fauna.net!
%br
%br
We've already got a ton of breeders on board and animals listed, and with your help we're going to make this the one stop shop for reptile enthusiasts all over the world.
%br
%br
As a thank your for your support, we want to also give you FREE animal listings for a limited time.
%br
%br
Check it out and let us know if you've got any feedback.
%br
%br
= link_to 'www.fauna.net', 'http://www.fauna.net/listings/recent?utm_source=newsletter&utm_medium=email&utm_campaign=buyers'
%br
%br
Cheers,
%br
%br
Josh