- if @me
  -# post something
  .panel-body.status-panel.rounded-panel{:'data-user-id' => @user.id}
    %textarea.status-form{placeholder: "Write something...", rows: "1"}
    .panel-footer.clearfix
      %button.btn.status-button Post
      -# disable this until facebook approves app on production
      - if false
        %span.status-fb-share
          = check_box_tag "facebook_share", 1, true, id: "post_facebook_share"
          %label{for: "post_facebook_share"} Share on Facebook

- else
  -# empty status panel
  .panel-body.status-panel.rounded-panel{:'data-user-id' => @user.id, style: 'display:none;'}
  