@import "globals/all";

.button {
  border-radius: 3px;
  &.btn-outline {
    background: transparent;
    border: 2px solid;
    padding-top: 14px;
    padding-bottom: 14px;
    &:hover {
      background: rgba(255,255,255,.1);
    }
  }
  &.secondary {
    background: #7f8c8d !important;
    &:hover {
      color: #fff !important;
      background: darken(#7f8c8d, 10) !important;
    }
  }
  &.btn-white {
    background: #fff;
    color: #222;
    &:hover {
      background: darken(#fff, 15);
      color: #222;
    }
  }
  &.buy-button {
    background-color: #16a085;
    color: #fff;
    padding: 15px 70px;
    border-radius: 2px;
    &.secondary {
      color: #fff;
    }
    &:hover {
      background-color: darken(#16a085, 10);
    }
  }
}

.sold-button {
  background: #ddd;
  color: #333;
  cursor: default;
  &:hover {
    background: #ddd;
    color: #333;
  }
}

.orange-button {
  background: $orange;
  padding: 10px 30px;
  &.secondary {
    color: #fff !important;
  }
  &.image-crop-save {
    position: absolute;
    top: 0;
    right: 0;
    padding: 6px 20px;
  }
}

.green-button {
  background: #1abc9c;
  padding: 10px 30px;
  .secondary {
    color: #fff !important;
  }
  &:hover {
    background: darken(#1abc9c, 10);
  }
}

.edit-listing {
  padding: 10px 40px;
  background-color: #7f8c8d;
  border-radius: 2px;
  &.remove-button {
    background-color: #c0392b;
    &:hover {
      background-color: darken(#c0392b, 10);
    }
  }
}

.remove-link {
  color: #848484;
  margin-bottom: 15px;
  margin-left: 10px;
  font-size: 14px;
  &:hover {
    color: #c0392b;
  }
}

.submit-message {
  @extend .green-button;
  float: right;
  padding: 6px 15px;
  margin-bottom: 0;
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.facebook-button {
  background: #5975b1;
  margin-top: 10px;
  .icon {
    font-size: 20px;
    margin-right: 5px;
    position: relative;
    top: 1px;
  }
  &:hover {
    background: darken(#5975b1, 10);
  }
}

input.button {
  padding: 10px 50px;
  background: #1abc9c;
  &:hover {
    background: darken(#1abc9c, 10);
  }
}

.review-button {
  position: absolute;
  background: $orange;
  border-radius: 3px;
  padding: 5px 15px;
  bottom: 70px;
  left: 52px;
  a {
    color: #fff;
  }
  &.reviewed {
    background: #fff;
    a {
      color: $orange;
    }
  }
}

.ask-question {
  padding: 5px 15px;
  background: #eee;
  color: #333;
  font-size: 14px;
  margin-bottom: 17px;
  &:hover {
    background: darken(#eee, 10);
    color: #333;
  }
}

.shipping-dropdown {
  width: 300px;
  margin-bottom: 10px;
}
