@import "globals/all";

.sold-button {
  background: #ddd;
  color: #333;
  cursor: default;
  &:hover {
    background: #ddd;
    color: #333;
  }
}

.orange-button {
  background: $orange;
  padding: 10px 30px;
  &.secondary {
    color: #fff !important;
  }
}

.green-button {
  background: #1abc9c;
  padding: 10px 30px;
  .secondary {
    color: #fff !important;
  }
  &:hover {
    background: darken(#1abc9c, 10);
  }
}

.edit-listing {
  padding: 10px 40px;
  background-color: #7f8c8d;
  border-radius: 2px;
  &.remove-button {
    background-color: #c0392b;
    &:hover {
      background-color: darken(#c0392b, 10);
    }
  }
}

.remove-link {
  color: #c0392b;
  margin-bottom: 15px;
  display: block;
  &:hover {
    color: darken(#c0392b, 15);
  }
}

.submit-message {
  @extend .green-button;
  float: right;
  padding: 6px 15px;
  margin-bottom: 0;
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.facebook-button {
  background: #5975b1;
  margin-top: 10px;
  .icon {
    font-size: 20px;
    margin-right: 5px;
    position: relative;
    top: 1px;
  }
  &:hover {
    background: darken(#5975b1, 10);
  }
}

input.button {
  padding: 10px 50px;
  background: #1abc9c;
  &:hover {
    background: darken(#1abc9c, 10);
  }
}

.review-button {
  position: absolute;
  background: $orange;
  border-radius: 3px;
  padding: 5px 15px;
  bottom: 70px;
  left: 52px;
  a {
    color: #fff;
  }
  &.reviewed {
    background: #fff;
    a {
      color: $orange;
    }
  }
}
