.row
  .rounded-panel.small-6.columns.small-centered
    .text-center
      %h3 Verification code
    %br
    %p After receiving the text message, enter the verification code.

    = form_for User.new, url: '#', html: {class: "form-validation user-sms-verify"} do |f|
      = text_field_tag 'to', nil, placeholder: "Enter Verification Code", class: 'required verification', id: "sms_code"
      %input.form-button{:type => "submit", :value => "Verify Phone Number"}
    %p.verify-help 
      Didn't receive a message? 
      = link_to "Try again", user_verify_phone_path(current_user)