.row
  .rounded-panel.small-6.columns.small-centered
    .text-center
      %h3 Verify your Paypal
    %br

    %p Enter your paypal email address below. Once you submit your paypal email, we'll confirm that you're paypal verified.

    %p 
      %strong This is the paypal that all Fauna payments will be sent to.

    %p We perform this verification for the safety of everyone on Fauna. Verification increases the overall security of Fauna because most buyers prefer to do business with Verified sellers.
    .error-state
      %p.error-message Sorry we were unable to verify this email address with paypal.
      = form_for User.new, url: '#', html: {class: "form-validation user-verify-email", :'data-user-handle' => current_user.handle} do |f|
        .small-6.columns.no-padding-left
          = text_field_tag 'to', nil, placeholder: "First Name", class: 'required first-name verification'
        .small-6.columns.no-padding-right
          = text_field_tag 'to', nil, placeholder: "Last Name", class: 'required last-name verification'
        = text_field_tag 'to', nil, placeholder: "Enter your paypal email", class: 'required email verification'

        %input.form-button{:type => "submit", :value => "Verify Paypal Account"}
