@import "globals/all";

body {
  background: #eee !important;
}

.highlight {
  color: $orange;
}

.button {
  border-radius: 3px;
  &.btn-outline {
    background: transparent;
    border: 2px solid;
    padding-top: 14px;
    padding-bottom: 14px;
    &:hover {
      background: rgba(255,255,255,.1);
    }
  }
  &.secondary {
    background: #7f8c8d !important;
    &:hover {
      color: #fff !important;
      background: darken(#7f8c8d, 10) !important;
    }
  }
  &.btn-white {
    background: #fff;
    color: #222;
    &:hover {
      background: darken(#fff, 15);
      color: #222;
    }
  }
  &.contact-seller {
    background-color: #16a085;
    color: #fff;
    padding: 15px 70px;
    border-radius: 2px;
    &:hover {
      background-color: darken(#16a085, 10);
    }
  }
}

.form-button {
  background: $orange;
  border-radius: 3px;
  padding: 15px 30px;
  margin-top: 0px;
  cursor: pointer;
  box-shadow: none;
  color: #fff;
  border: none;
  font-size: 16px;
  width: 100%;
  &:hover {
    background: darken($orange, 10);
  }
}
.padding-wrapper {
  padding-left: 15px;
  padding-right: 15px;
}

hr {
  margin: 10px 0 !important;
}

.no-padding-left {
  padding-left: 0 !important;
}
.no-padding-right {
  padding-right: 0 !important;
}
.no-padding {
  @extend .no-padding-left;
  @extend .no-padding-right;
}

.centered-inline-list {
  li {
    display: inline-block;
    list-style: none;
    margin-left: 1.375rem;
  }
}