@import "globals/all";

body {
  background: #eee !important;
  min-width: 1075px;
}

textarea {
  height: 100px;
  box-shadow: none;
  border-radius: 3px;
}

ul {
  list-style-type: none;
}

.floating-table {
  border: none;
  padding: 0 !important;
  margin-bottom: 0;
  th {
    text-align: left;
  }
  .thumb-cell {
    width: 60px;
  }
  .date-cell {
    width: 100px;
  }
  .name-cell {
    width: 515px;
  }
  .mark-sold {
    margin-left: 10px;
    margin-right: 10px;
    color: #c0392b;
    &:hover {
      color: darken(#c0392b, 10);
    }
  }

}

.highlight {
  color: $orange;
}

.form-button {
  background: $orange;
  border-radius: 3px;
  padding: 15px 30px;
  margin-top: 0px;
  cursor: pointer;
  box-shadow: none;
  color: #fff;
  border: none;
  font-size: 16px;
  width: 100%;
  &:hover {
    background: darken($orange, 10);
  }
}
.padding-wrapper {
  padding-left: 15px;
  padding-right: 15px;
}

hr {
  margin: 10px 0 !important;
}

.no-padding-left {
  padding-left: 0 !important;
}
.no-padding-right {
  padding-right: 0 !important;
}
.no-padding {
  @extend .no-padding-left;
  @extend .no-padding-right;
}

.centered-inline-list {
  li {
    display: inline-block;
    list-style: none;
    margin-left: 1.375rem;
  }
}