@import "globals/all";
@import "foundation/components/grid";

.guest-message {
  margin-bottom: 30px;
  .banner-image {
    @extend .clearfix;
    background-image: image-url("guest-banner.jpg");
    background-size: cover;
    min-height: 306px;
    .banner-cta {
      padding-top: 30px;
      text-align: center;
      color: #fff;
      p {
        font-size: 24px;
      }
      h2 {
        color: #fff;
      }
    }
  }
}

.page-title {
  text-align: center;
  margin-bottom: 25px;
}

.rounded-panel {
  background: #fff;
  border-radius: 3px;
  padding: 15px;
  @extend %shadow;
  @extend .clearfix;
}

.lined-panel {
  border-radius: 3px;
  border: 1px solid #e0e0e0;
  padding: 20px;
  @extend .clearfix;
}

.category-breadcrumbs {
  font-size: 12px;
  color: #848484;
  a {
    color: #848484;
    &:hover {
      color: $orange;
    }
  }
  .icon {
    margin: 0 5px;
  }
}
.shipping-price {
  font-size: 24px;
  color: #969ba1;
  margin-top: -10px;
  margin-bottom: 20px;
}
.shipping-selector {
  display: inline;
  width: 250px;
  margin-left: 5px;
}
.user-widget {
  @extend .clearfix;
  border: 3px solid #eeeeee;
  border-radius: 3px;
  padding: 15px;
  margin-top: 20px;
  .author-image {
    padding: 0;
    img {
      border-radius: 3px;
    }
  }
  .author-name {
    padding-right: 0;
    h5 {
      margin: 0;
    }
  }
  .author-bio {
    padding: 0;
    p {
      margin-bottom: 0;
    }
  }
  .more-from-author {
    padding: 0;
    margin-top: 15px;
    span {
      font-size: 12px;
    }
    .more-listings { 
      margin-top: 10px;
      li {
        padding-bottom: 0;
      }
      .listing-panel {
        border: 1px solid #e9e9e9;
        box-shadow: none;
        a {
          color: #333;
        }
        .title {
          font-size: 13px;
        }
      }
    }
  }
}
.listing-panel {
  @extend .rounded-panel;
  padding: 0;
  padding-bottom: 5px;
  overflow: hidden;
  position: relative;
  top: 0;
  transition: .1s ease-in;
  &:hover {
    top: -2px;
  }
  .listing-info {
    .title {
      color: #333;
      font-size: 14px;
    }
    .breeder {
      float: left;
      font-size: 14px;
      color: #a2a3a3;
    }
    .price {
      float: right;
      color: #1abc9c;
      font-weight: 500;
      font-size: 14px;
    }
  }
  .grid-thumb {
    width: 100%;
    height: 200px;
  }
  .listing-info {
    padding: 10px;
  }
  .listing-aside {
    padding: 15px;
  }
  .listing-images {
    padding: 0;
    .main-image {
      margin-bottom: 10px;
      img {
        width: 100%;
        height: 400px;
      }
    }
    .image-grid {
      padding-right: 5px;
      padding-left: 15px;
    }
    .more-images {
      li {
        padding-right: 5px;
        padding-left: 5px;
        img {
          width: 100%;
          height: 80px;
        }
      }
    }
  }
}

.list-panel {
  @extend .rounded-panel;
  padding: 0;
  padding-bottom: 5px;
  overflow: hidden;
  position: relative;
  top: 0;
  transition: .1s ease-in;
  .listing-info {
    .title {
      color: #333;
      font-size: 14px;
    }
    .breeder {
      float: left;
      font-size: 14px;
      color: #a2a3a3;
    }
    .price {
      float: right;
      color: #1abc9c;
      font-weight: 500;
      font-size: 14px;
    }
  }
  .grid-thumb {
    width: 100%;
    height: 200px;
  }
  .listing-info {
    padding: 10px;
  }
  .listing-aside {
    padding: 15px;
  }
  .listing-images {
    padding: 0;
    .main-image {
      margin-bottom: 10px;
      img {
        width: 100%;
      }
    }
    .image-grid {
      padding-right: 5px;
      padding-left: 15px;
    }
    .more-images {
      li {
        padding-right: 5px;
        padding-left: 5px;
        padding-bottom: 0;
        img {
          width: 100%;
          height: 80px;
        }
      }
    }
  }
}

.edit-timer {
  margin-bottom: 15px;
  background: #eee;
  padding: 10px;
  font-size: 14px;
  margin-top: 14px;
  text-align: center;
}
.listing-field {
  @extend .clearfix;
  .image-grid {
    li {
      min-width: 125px;
      text-align: center;
    }
  }
  #listing_description {
    height: 100px;
    line-height: 20px;
  }
  .image-box {
    padding: 5px;
    border: 1px solid #c6c6c6;
    position: relative;
    &.empty {
      border: 1px dashed #c6c6c6;
      div {
        background-image: image-url("empty-image.png");
        height: 71px;
      }
    }
    .add-images-button {
      background-image: image-url("empty-image.png");
      height: 71px;
      padding-top: 11px;
      font-size: 13px;
      color: #5a5a5a;
      .button-add {
        background-image: image-url("add-image.png");
        width: 26px;
        height: 26px;
        display: block;
        margin: 0 auto;
        margin-bottom: 5px;
      }
    }
    &.add {
      border: 1px solid #c6c6c6;
    }
    img {
      height: 71px;
      width: 95px;
    }
  }
  .upload-container {
    position: absolute;
    z-index: 999;
    top: 5px;
    text-align: right;
    overflow: hidden;
    width: 90px;
    height: 75px;
    cursor: pointer;
  }
  #image-upload, .image-upload {
    z-index: 9999;
    opacity: 0;
    filter: alpha(opacity = 0);
    font-size: 55px;
    position: relative;
    height: 80px;
    float: right;
    cursor: pointer;
  }
  label {
    margin-bottom: 5px;
  }
  select {
    width: 300px;
  }
  .price-input {
    label {
      float: left;
      font-size: 18px;
      margin-right: 10px;
      line-height: 35px;
    }
    input { 
      width: 80px;
    }
  }
  tbody {
    .country {
      min-width: 171px;
    }
  }
  .has-tip {
    margin-left: 5px;
  }
}

.user-bar {
  background: #fff;
  .profile-avatar {
    position: absolute;
    bottom: 10px;
    border: 3px solid #fff;
    border-radius: 3px;
    img {
      max-width: 100px;
    }
  }
  .profile-name {
    float: left;
    margin-left: 120px;
  }
  .profile-follow {
    float: right;
    .button {
      padding: 5px 40px;
      position: relative;
      top: 10px;
      background: $orange;
      &.active {
        background: darken(#dedede,25);
      }
      &:hover {
        background: darken($orange, 10);
      }
    }
  }
}

.sub-user-bar {
  background: #fff;
  @extend %shadow;
  margin-bottom: 30px;
  ul {
    padding-bottom: 0;
    margin-bottom: 0;
    li {
      a {
        font-size: 12px;
        padding-bottom: 5px;
        color: lighten(#222, 30);
        &.active {
          border-bottom: 3px solid $orange;
          color: #222;
          font-weight: bold;
        }
        &:hover {
          color: #222;
        }
      }
    }
  }
}

.profile-sidebar {
  padding-left: 0 !important;
  padding-right: 0 !important;
  ul {
    margin: 0;
    list-style-type: none;
    li {
      border-bottom: 1px solid #ddd;
      padding-bottom: 10px;
      margin-bottom: 10px;
      &:last-child {
        border-bottom: none;
        padding-bottom: 0;
        margin-bottom: 0;
      }
      iframe {
        margin-top: 10px;
      }
    }
  }
  .rounded-panel {
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 15px;
  }
}

.feedback {
  .rounded-panel {
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.user-trust {
  .icon {
    margin-right: 10px;
    &.ion-android-checkmark {
      color: #1bbc9b;
    }
    &.ion-android-close {
      color: #b2bcbb;
    } 
  }
  h6 {
    font-weight: bold;
  }
  ul {
    margin-left: 15px;
    li {
      border-bottom: none;
      padding-bottom: 0;
      margin-bottom: 0;
    }
  }
}

.ion-android-star {
  margin-right: 0 !important;
  font-size: 13px;
  position: relative;
  top: -2px;
  color: #b3bdbc;
  &.active {
    color: #f4b603;
  }
}

.star-rating-input {
  .star-wrapper {
    unicode-bidi: bidi-override;
    direction: rtl;
    display: inline-block;
    .ion-android-star {
      font-size: 25px;
      padding-top: 10px;
      margin-bottom: 15px;
      transition: .2s ease-in;
      cursor: pointer;
      color: #b3bdbc; 
    }
    > .ion-android-star:hover:before,
    > .ion-android-star:hover ~ .ion-android-star:before {
      color: #f4b603;
      transition: .2s ease-in;
    }
  }
}

.experience-form {
  margin-top: 20px;
  textarea {
    border-radius: 3px;
    box-shadow: none;
    margin-top: 5px;
    height: 100px;
  }
  .button {
    float: right;
    margin-bottom: 0;
  }
}

.review {
  @extend .clearfix;
  padding-bottom: 5px;
  .review-header {
    margin-bottom: 15px;
    padding: 0;
  }
  .listing-title {
    float: left;
  }
  .review-rating {
    float: right;
    text-align: right;
  }
  .review-bubble {
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 10px;
    min-height: 90px;
    @extend .clearfix;
    .reviewer {
      float: left;
    }
    .review-date {
      float: right;
    }
    .review p {
      margin-top: 15px;
      margin-bottom: 0px;
      font-style: italic;
    }
  }
}

.product-review-details {
  @extend %shadow;
  background: #fff;
  padding-left: 0 !important;
  padding-right: 0 !important;
  border-radius: 2px;
  overflow: hidden;
  .tab-container {
    color: darken(#969ba1,5);
  }
  .view-listing {
    padding: 0 15px 15px 15px;
  }
}



.edit-show {
  display: none;
}

.upload-image {
  text-align: center;
  color: #fff;
  font-size: 60px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  cursor: pointer;
  i {
    margin-top: 100px;
  }
  h4 {
    color: #fff;
  }
}

.profile-avatar {
  .upload-image {
    i {
      margin-top: -15px;
      font-size: 30px;
    }
    h6 {
      color: #fff;
    }
  }
}

body.editing {
  .global-head, .global-subhead, .sub-user-bar .inline-list, .review-column, .user-trust {
    opacity: .3;
  }
  .overlay {
    background: rgba(0,0,0,.7);
    &:hover {
      background: rgba(0,0,0,.8);
    }
  }
  .edit-hide{
    display: none;
  }
  .edit-show {
    display: block;
  }
}

// Category page 
.category-nav {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  a {
    color: #fff;
  }
  h1 {
    color: #fff;
  }
  ul {
    margin-left: 0;
    li {
      &:first-child {
        margin-left: 0;
      }
    }
  }
}

.category-header {
  .overlay {
    background: rgba(0, 0, 0, 0.5);
  }
}

// Account Page 
.account-page {
  margin-top: 50px;
  .rounded-panel {
    padding-bottom: 20px;
  }
}
.account-avatar {
  position: absolute;
  top: -30px;
  left: 0;
  right: 0;
  text-align: center;
  img {
    border-radius: 50%;
    border: 3px solid #fff;
  }
}
.account-navigation {
  border-bottom: 1px solid #ddd;
  margin-bottom: 25px;
  .inline-list {
    margin-bottom: 5px;
    a {
      color: lighten(#333, 40);
      &.active {
        color: #f15b2b;
      }
    }
  }
}
.account-header {
  margin-top: 30px;
  text-align: center;
}

.pricing-blocks {
  ul {
    list-style: none;
    margin-left: 0;
    li {
      .ion-android-checkmark {
        color: #10921f;
        font-size: 18px;
        vertical-align: middle;
        margin-right: 5px;
        position: relative;
        top: -3px;
        display: inline-block;
      }
    }
  }
  .price {
    margin-bottom: 15px;
    div {
      display: inline-block;
      line-height: 1;
      margin-right: -4px;
    }
    .dollar {
      vertical-align: top;
      font-size: 21px;
      position: relative;
      top: 10px;
    }
    .amount {
      font-size: 50px;
      font-weight: 700;
    }
    .period {
      color: #cac7c7;
      vertical-align: baseline;
      font-size: 21px;
    }
  }
  .button {
    background: #16a085;
    color: #fff;
    font-size: 18px;
    width: 100%;
    margin-bottom: 0;
    .ion-ios7-locked-outline {
      font-size: 19px;
      margin-right: 5px;
    }
  }
}

.social-links {
  .twitter-share-button {
    position: relative;
    top: 2px;
    margin-left: 5px;
  }
}

// Phone verification
input.verification {
  border-radius: 3px;
  box-shadow: none;
  height: 50px;
  font-size: 20px;
}

.verify-help {
  margin-top: 15px;
  margin-bottom: 0;
}

.login-text {
  margin-bottom: 25px;
  span {
    margin-left: 5px;
    margin-right: 5px;
  }
}
