.rounded-panel
  .padding-wrapper
    %h5 Recent Feedback
    %hr
    .padding-wrapper
      .review
        %h3.text-center No Feedback Yet!
        %p.text-center Feedback will be updated when this user sells a listing on Fauna.